<html ng-app="app">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="../js/jquery.form.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="../js/controller.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body id="mycontroller" ng-controller="AppController" ng-init=init()>

<div>
  <div style="height: 100px">
<h1 style="padding-left: 40px; padding-top: 20px">Frodo</h1>

  </div>





  <div style="background: #e8e8e8; height: 100%; padding: 40px">
      <div  id="inputDiv" ng-show = "inputDivVisible">
      <h3 style="margin-bottom: 25px">Upload csv file here</h3>

      <form class="form-inline" id='#upload' ng-submit="upload()" method="post" enctype="multipart/form-data"
        action="https://storage.googleapis.com/frodo-test">
        <p><input type="hidden" name="key" value="{{fileName}}"></p>
        <p><input type="hidden" name="success_action_status" value="201"></p>

        <div class="form-group">
          <label for="exampleInputFile">Select your File</label>
          <input type="file" name="file" custom-on-change="filePicked">
           <p class="help-block">csv format : [ userId, email ]    </p>
        </div>
        <button type="submit" value="Upload" class="btn btn-primary">Upload</button>
      </form>

        <div id="uplaodingProgressDiv" style="visibility: hidden;">
          <label style="margin-top: 20px"> Uploading File</label>
          <div class="progress" style="width: 350px">
            <div id="uplaodingProgress" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              0% Uploaded 
        </div>
        </div>

        </div>

      </div>



      <div  id="processDiv" ng-show = "processDivVisible">
        <h3 style="margin-bottom: 25px">Analysing your File</h3>
        <img src="../images/spin.svg"> <span style="margin-left: 15px;"> It takes some time. Please wait...</span>
      </div>



      <div id="outputDiv" ng-show = "outputDivVisible">
        <h3 style="margin-bottom: 25px">Analysis Complete</h3>
        <p> Download your file from here
                <div class="btn btn-success" ng-if="jobResult.length>0"> <a href="{{jobResult}}">Download</a></div>
        </p>

        <p style="margin-top: 80px;">
          <a href="index.html">Start Again</a>
        </p>
      </div>
  </div>
</div>




<div style="visibility: visible;">

<!--   <div id="message" ng-style="messageError && {color : 'red'} || {color : 'green'}">Message : {{message}}</div> -->
  <!--<div>File Name : {{fileName}}</div>-->

  <!-- 
  <form id='#upload' ng-submit="upload()" method="post" enctype="multipart/form-data"
        action="https://storage.googleapis.com/frodo-test">
    <p>
      <input type="hidden" name="key" value="{{fileName}}">
    </p>
    <p>
      <input type="hidden" name="success_action_status" value="201">
    </p>
    <p>
      <input type="file" name="file" custom-on-change="filePicked">
    </p>
    <div>
      <input type="submit" value="Upload">
      <div id="percent">0%</div>
      <div id="status"></div>
    </div>
  </form>
  
  <hr>
  
  <button ng-click="jobId.length==0 && send()">Send For Analysis</button>
  <div> job id : {{jobId}} <span ng-if="jobId.length==0"> Not Submitted Yet</span></div>
  <br>
  <button ng-click="status(jobId)">Check Status</button>
  <div> job status : {{jobStatus}}</div>
  <div> job progress : {{jobProgress}}</div>
  <div ng-if="jobResult.length>0"> job result : <a href="{{jobResult}}" download>download</a></div>
   -->



  <script>
    $(function() {
      var uplaodingProgressDiv = jQuery('#uplaodingProgressDiv');
      var percent = jQuery('#uplaodingProgress');
      var status = jQuery('#status');
      var message = jQuery('#message');

      jQuery('form').ajaxForm({

        beforeSend: function() {
          uplaodingProgressDiv.css({'visibility':"visible"});
            status.empty();
            var percentVal = '0% Uploaded';
            percent.html(percentVal);
            percent.css({ 'width': "0 %" });
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '% Uploaded';
            percent.html(percentVal);
            percent.css({ 'width': percentComplete + "%" });
        },
        complete: function(xhr) {
            //status.html(xhr.responseText);
            message.html('Message : upload complete');

            angular.element('#mycontroller').scope().send();
            angular.element('#mycontroller').scope().$apply() 
        }
      });
      
      jQuery('form').submit(function() { 
        console.log('form was submitted');
        // !!! Important !!! 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
      });
      
    }); 
  </script>
  </div>
</body>
</html>
